@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');
:root {
    --primary-color: #0D2C54;
    --secondary-color: #4D5B97;
    --lightest-color: white;
    --dark-text-color: black;
    --dark-background-color: #2F3061;

    --heading-font: "Josefin Sans", sans-serif;
    --paragraph-font: "Amatic SC", sans-serif;
}

* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    background-color: white;

}

header {
    border: 5px solid black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #0D2C54;
}

.header img {

    max-width: 200px;
    height: auto;
    padding-right: 30px;

}

main {
    margin: 0 auto;
}

h1
{
    margin: 10px;
    color: white;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;

}

#menu {
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #84dccf;
    color: white;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 5px;

}

li {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #575D90;
}

h2 {
    width: 100% ;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: solid;
    font-family: 'Acme', sans-serif;

}

h3 {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    background-color: #0D2C54;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: #0D2C54;
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;

}

#lastModified {
    font-size: 14px;
    margin-top: 5px;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}